.title {
    display: flex;
    align-items: center;
    gap: 0;
    margin: 0;
    font-size: var(--font-size-xl);
}

.ya {
    color: var(--color-red);
}

.text {
    color: var(--color-black);
}

.notesCount {
    font-size: var(--font-size-s);
    color: var(--color-gray-400);
    margin-top: var(--spacing-s);
}